<div>
    <section class='principal' *ngIf='showInicio'>
        <button id="iniciar-jogo"
            (click)='iniciarJogo()'
        >
            Tá na hora do Pau!
        </button>
    </section>

    <section>
        <div class='grade' *ngIf='showTabuleiro'>
            <article *ngFor = 'let posicao of posicoes' >
                <div class='celula' 
                    [class.celula-imgx]='exibirX(posicao.x, posicao.y)'
                    [class.celula-imgo]='exibirO(posicao.x, posicao.y)'
                    (click)='jogar(posicao.x, posicao.y)'
                ></div>
            </article>
        </div>
    </section>

    <section class='container-card' *ngIf='showFinal'>
        <img *ngIf='jogador==1' src='../../../assets/images/vitoria-shield.png'>
        <img *ngIf='jogador==2' src='../../../assets/images/vitoria-hydra.png'>
        <img *ngIf='jogador==0' src='../../../assets/images/velha.png'>
        <button 
            [ngClass]="{
                'botao-shield': jogador===1,
                'botao-hydra': jogador===2,
                'botao-velha': jogador===0
            }"
            (click)='novoJogo()'>Eu posso fazer isso o dia Todo!</button>
    </section>
</div>