<div>
    <section class='principal'>
        <a href='#'
        class='botao'>
            Iniciar
        </a>
    </section>

    <section>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>

    <section>
        <span>
            <p>Você Venceu!!!</p>
            <p>Você perdeu...</p>
            <p>O jogo terminou empatado...</p>
            <br />
            <a>
                Jogar Novamente
            </a>
        </span>
    </section>
</div>