<div id="gamer">
    <div *ngIf='showProcurarB'>
        <p>Escolha seu Personagem</p>
        <form>
            <input placeholder="Nome (mínimo 3 letras)" type='text' id='personagem' name='personagem' minlength='3'
                required (input)="nomePesquisar=$event.target.value" />
            <img (click)="buscaPersonagem()" src="../../../../assets/images/Lupa.png">
        </form>

        <ul>
            <li (click)='escolhePersonagemB(personagem.id)' *ngFor='let personagem of personagens'>{{personagem.name}}
            </li>
        </ul>
    </div>

    <div *ngIf='showEscolhaB'>
        <section id="escolha" *ngFor='let personagem of personagemJogadorB'>
            <img id='foto-escolha' [src]="personagem.thumbnail.path+'.'+personagem.thumbnail.extension">
            <p>{{personagem.name}}</p>
            <img (click)='escolherNovamenteB()' class='botao-escolha' src='../../../../assets/images/botãox.png'>
            <img (click)='iniciarJogoB()' class='botao-escolha' src='../../../../assets/images/botão amei.png'>
        </section>
    </div>


    <div *ngIf='showJogadorB'>
        <section id="jogar" *ngFor='let personagem of personagemJogadorB'>
            <P>Vitórias: {{vitoriasB}}</P>
            <img [src]="personagem.thumbnail.path+'.'+personagem.thumbnail.extension">
            <p>{{personagem.name}}</p>
            <img [src]="pathFotoB">
        </section>
    </div>
</div>

<app-card-erro *ngIf='showErro'></app-card-erro>