<div id='cabecalho'>
    <img src="../../../assets/images/logo.png">
    <section id="navegacao">
        <div class='item-nav' (click)="newGame()">Reiniciar Partida</div>
        <div class='item-nav' (click)="openTutorial()">Tutorial</div>
        <div class='item-nav' (click)="openList()">Lista de Personagens</div>
    </section>
    <app-card-list *ngIf='isOpenList'></app-card-list>
    <app-card-tutorial *ngIf='isOpenTutorial'></app-card-tutorial>
    <app-card-new-game *ngIf='isOpenNewGame'></app-card-new-game>
</div>

