h1{
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-size: 2rem;
}

.container-card{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.card{
    width: 40vw;
    height: 85%;
    overflow-x: hidden;    
    background-color: white;
    color: black;
    border-radius: 3px;
    box-shadow: 5px 5px 8px 0px rgba(50, 50, 50, 0.96);
    padding: 3vh;
}

#list{
    width: 100%;
}

.heroe{
    display: flex;
    width: 80%;
}