<div class='container-card'>
    <section id="card">
        <h1>COMO JOGAR</h1>
        <ol>
            <li>O tabuleiro é uma matriz de três linhas por três colunas. Cada jogador possui uma marcação 
                (Hydra ou Shield) e o objetivo é conseguir 3 marcações iguais no sentido horizontal,
                vertical ou diagonal.
            </li>

            <li>Quando uma nova partida é iniciada o sistema sorteia quem irá começar. 
                Quem começa sempre terá a marcação da Shield. Nas próximas rodadas da mesma partida, 
                o início será alternado entre os jogadores, sem mudança da marcação.
            </li>

            <li>Os jogadores jogam alternadamente, uma marcação por vez, clicando numa lacuna que esteja vazia, 
                tentando formar a linha e também impedir que o adversário de ganhar na próxima jogada. 
                Se o número de lacunas acabarem sem que haja um vencedor, é considerado “velha” e ninguém pontua.
            </li>

            <li>A rodada acaba quando há vitória de um dos jogadores ou quando “Dá velha”. Quando a rodada acaba, 
                o placar é atualizado.
            </li>
        </ol>

        <section id="container-examples">
            <img src="../../../../assets/images/1.png">
            <img src="../../../../assets/images/2.png">
            <img src="../../../../assets/images/3.png">
            <img src="../../../../assets/images/4.png">
        </section>
    </section>
    <img src="../../../../assets/images/x-circle.svg">
</div>

